body {
    background-color: #b5dfe6;
}
#biggestTitle {
    color: white;
    text-shadow: 2px 2px #ff0000;
}

#dropDownBar {

}

#bannerForBG{
    background-image:url("../Images/BackgroundBanner.jpg")
}

#dDLogo {
    border-radius: 8px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 5%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}